<h1>Sessions#index</h1>
<p>Find me in app/views/sessions/index.html.erb</p>


<div id="user_register">
    <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
       <p><%= x %></p>
    <% end %>
    <h4>Register here!</h4>
     <%= simple_form_for @user, :url => '/users', :html => {:multipart => true} do |f| %>
        <%= f.input :first_name, label: 'First name: ' %>
        <%= f.input :last_name, label: 'Last name: ' %>
        <%= f.input :email, label: 'Email: ' %>
        <%= f.input :password, label: 'Password: ', input_html: { maxlength: 20 } %>
        <%= f.input :password_confirmation, label: 'Confirm Password: ' %>
        <%= f.submit :submit, label_html: { class: 'btn btn-success' } %>
     <% end %>
  </div>

  <h5>Login Here</h5>
      <form action="/sessions" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <label for="login_email">Email</label>
        <input type="text" id="login_email" name=login[email]><br>
        <label for="login_password">Password</label>
        <input type="password" id="login_password" name=login[password]><br>
        <input type="submit" class="btn btn-success" value="Login">
      </form>
    </div>
